body.doc
  #header-container.doc
    header.doc
      a(href='/')
        .logo &#x21;
      a(href='/')
        h1 arthrolife.

  section.doc
    h1 What is Tendinopathy?
    p
      | Tendinopathy is an overload or overuse injury that results in tendon
      | degeneration. It does not typically have an inflammatory component
      | (previously known as tendinitis). Tendinopathy can also result from
      | acute trauma with intra-substance tears within the tendon.

  section.doc
    h1 Treatment Plan/Options
    h2 Medical Therapy
    ul
      li PhotoActivated Platelet-rich Plasma (PAPRP) Injection
      li ExtraCorporal Shockwave Therapy (ESWT)
      li GTN patches
      li Cortisone Injection
    h2 Allied Health Clinicians
    ul
      li Physiotherapy
      li Podiatry

  section.doc
    h1 Medical Therapy
    h2 PhotoActivated Platelet-rich Plasma
    p.doc
      | Blood is a source of naturally derived healing and anti-inflammatory
      | factors. When muscles tear the resultant bleeding results in a
      | heeling process. Unfortunately tendons - unlike muscle - have a poor
      | blood supply and when they tear they struggle to heel adequately.
      | Platelet-rich Plasma - a concentrated solution of the growth factors
      | found in blood - can be injected under ultrasound guidance into the
      | site of tendon injury, promoting both healing and pain relief.
    h2 ExtraCorporal Shockwave Therapy (ESWT)
    p.doc
      | Shockwave therapy has been used for treatment of tendinopathy since
      | the early 1990s. Originating from a a urology procedure called
      | lithotripsy (used to crush kidney stones), it is a safe and non-
      | invasive therapy. Shockwave therapy has shown evidence in promoting
      | pain relief and also tendon remodelling/regeneration.
    h2 GTN Patches
    p.doc
      | Glycerol TriNitrate Patches are used commonly for heart related chest
      | pain. Research has shown that use of GTN Patches promotes tendon
      | remodeling and healing. Some patients will also experience a
      | significant analgesic benefit from GTN Patches.
    h2 Cortisone Injection
    p.doc
      | It may be suitable to use cortisone in the treatment of tendinopathy.
      | Repeat use of cortisone, however, is not recommended as this has been
      | shown to result in a poor outcome.

  section.doc
    h1 Allied Health Clinicians
    h2 Physiotherapy
    p.doc
      | A physiotherapist guided strengthening program is essential for a
      | positive outcome. All interventional techniques have been shown to be
      | more effective when used in combination with an appropriate
      | rehabilitation program.
    p A physiotherapy program is designed to also focus on -
    ul
      li
        | secondary causes of discomfort and pain associated with
        | tendinopathy - ie. muscular tightness.
      li
        | primary musculoskeletal deficiencies that are associated with the
        | onset of tendinopathy.
    h2 Podiatry
    p.doc
      | Biomechanically there a many issues that may cause or aggrevate
      | tendinopathy. Podiatric assessment and adjustment can have a
      | significant role in assisting tendon rehabilitation and preventing
      | recurrence of pain and tendiinopathy.

  #footer-container
    footer.doc
      p &copy; 2012 arthrolife.
      .logo &#x21;

