body
  header
    .logo &#x21;
    h1 arthrolife.
    ul
      li Conditions
      li Treatments
      li Doctors
      li Clinics
      li Research
    h2 taking the next step </br> in arthritis management.

  #container
    section#about
      h1 About

  #container
    section#conditions
      h1 Conditions

  #container
    section#treatments
      h1 Treatments

  #container
    section#doctors
      h1 Doctors

  #container
    section#clinics
      h1 Clinics

  #container
    section#ask
      h1 Ask the expert

  #container
    section#research
      h1 Research

  #container
    footer
      p &copy; 2012 arthrolife.
      .logo &#x21;

