body
  header#container
    .logo &#x21;

  section#about#container
    h1 About

  section#conditions#container
    h1 Conditions

  section#treatments#container
    h1 Treatments

  section#doctors#container
    h1 Doctors

  section#research#container
    h1 Research

  section#clinics#container
    h1 Clinics

  section#ask#container
    h1 Ask the expert

  footer#container
