body
  header
    .logo &#x21;
    h1 arthrolife.
    ul
      li Conditions
      li Treatments
      li Doctors
      li Clinics
      li Research
    h2 Take the next step </br> in arthritis management.

  #container
    section#about
      .logo &#x2a;
      p
        | Arthrolife is a specialist medical organisation offering the medical
        | and procedural management of musculoskeletal conditions such as
        | arthritis and tendinopathy.

  section#conditions
    h1 Conditions

  section#treatments
    h1 Treatments

  section#doctors
    h1 Doctors

  section#clinics
    h1 Clinics

  section#ask
    h1 Ask the expert

  section#research
    h1 Research

  footer
    p &copy; 2012 arthrolife.
    .logo &#x21;

