body
  header
    .logo &#x21;
    h1 arthrolife.
    ul
      li Conditions
      li Treatments
      li Doctors
      li Clinics
      li Research
    h2 Take the next step</br>in arthritis management.

  #container
    section#about
      .logo &#x2a;
      p
        | Arthrolife is a specialist medical organisation offering the medical
        | and procedural management of musculoskeletal conditions such as
        | arthritis and tendinopathy.

  section#conditions
    h1 Conditions
    #col
      h2 Arthritis
      p
        | Arthritis is a major cause of disability and chronic pain in Australia.
        | More than 3.95 Million Australians suffer from arthritis. Up to two
        | thirds of people suffering from osteo-arthritis are of working age.
      a(href="#") More
    #col-right
      h2 Tendonitis
      p
        | Tendinopathy is an overload or overuse injury that results in tendon
        | degeneration. It does not typically have an inflammatory component
        | (previously known as ‘tendinitis’).
      a(href="#") More

  section#treatments
    h1 Treatments
    #col
      h2 Platelet-rich Plasma
      p
        | Platelet-rich Plasma (PRP) is a growth factor rich medium that is
        | developed from your own blood. It is not synthetic. Research has
        | shown PRP to be effective in the treatment of many musculoskeletal
        | conditions.
      a(href="#") More
    #col-right
      h2 Stem Cell Therapy
      p
        | Cell based therapies (including Stem Cells and Platelet-rich Plasma)
        | offer exciting potential in treating conditions such as osteoarthritis.
        | Adipose tissue is a rich source of adipose-derived stem cells. These
        | cells have an ability to differentiate into cartilage cells.
      a(href="#") More

  section#doctors
    h1 Doctors

  section#clinics
    h1 Clinics
    #col
      p#name1 Prahran ArthroLife – a Lifecare clinic
      p#name2 Lifecare Prahran Sports Medicine Centre
      p#address 316 Malvern Rd, Prahran, Vic 3181
      p#phone Ph : (03) 9529 8899
      p#fax Fax : (03) 9529 4248
    #col
      iframe(width="300", height="300", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps/ms?msa=0&amp;msid=210857819210607169112.0004c8990101523c413f2&amp;ie=UTF8&amp;t=m&amp;ll=-37.84774,144.997247&amp;spn=0.002542,0.003219&amp;z=17&amp;output=embed")

  section#research
    h1 Research

  footer
    p &copy; 2012 arthrolife.
    .logo &#x21;

