#ask
  #ask-button
    .logo &#x29;
    p Need help?
  #ask-form
    p Name
    input#ask-name(type='text')
    p Phone
    input#ask-phone(type='text')
    p Email
    input#ask-email(type='text')
    p Question
    textarea#ask-question(rows='4')
    #ask-submit Submit

#header-container
  header
    .logo &#x21;
    h1 arthrolife.
    ul
      li
        a(href='#conditions') Conditions
      li
        a(href='#treatments') Treatments
      li
        a(href='#clinics') Clinics
      li
        a(href='#research') Research
    h2 Take the next step in<br/>&nbsp;&nbsp;&nbsp; arthritis management.

#about-container
  #about
    .logo &#x2a;
    p
      | Arthrolife is a specialist medical organisation offering next
      | generation therapies for the management of musculoskeletal
      | conditions such as arthritis and tendinopathy.

.section-heading
  h1 Conditions
section#conditions
  .col
    h2 Arthritis <a href='/docs/arthritis'>More</a>
    p
      | Arthritis is a major cause of disability and chronic pain in Australia.
      | More than 3.95 Million Australians suffer from arthritis. Up to two
      | thirds of people suffering from osteo-arthritis are of working age.
  .col.col-right
    h2 Tendinopathy <a href='/docs/tendinopathy'>More</a>
    p
      | Tendinopathy is an overload or overuse injury resulting in tendon
      | degeneration. Whilst previously known as tendinitis it does not
      | typically have an inflammatory component. Tendon injuries account for
      | a significant proportion of sport and workplace related injuries
      | resulting in considerable morbidity.

.section-heading
  h1 Treatments
section#treatments
  .col
    h2 Platelet-rich Plasma <a href='/docs/platelet-rich-plasma'>More</a>
    p
      | Platelet-rich Plasma (PRP) is a growth factor rich medium that is
      | developed from your own blood. It is not synthetic. Research has
      | shown PRP to be effective in the treatment of many musculoskeletal
      | conditions.
  .col.col-right
    h2 Stem Cell Therapy <a href='/docs/stem-cell-therapy'>More</a>
    p
      | Cell based therapies (including Stem Cells and Platelet-rich Plasma)
      | offer exciting potential in treating conditions such as osteoarthritis.
      | Adipose tissue is a rich source of adipose-derived stem cells. These
      | cells have an ability to differentiate into cartilage cells.

.section-heading
  h1 Clinics
section#clinics
  .col
    h2 Prahran Arthrolife – a Lifecare clinic
    p#name Lifecare Prahran Sports Medicine Centre
    #address
      .logo &#x27;
      p 316 Malvern Rd, Prahran, Vic 3181
    #email
      .logo &#x24;
      p <a href='mailto:research@arthrolife.com.au'>info@arthrolife.com.au</a>
    #phone
      .logo &#x26;
      p (03) 9529 8899
    #fax
      .logo Fax
      p (03) 9529 4248
  .col.col-right
    iframe(width='340', height='300', src='https://maps.google.com/maps/ms?msa=0&amp;msid=210857819210607169112.0004c8990101523c413f2&amp;ie=UTF8&amp;t=m&amp;ll=-37.84774,144.997247&amp;spn=0.002542,0.003219&amp;z=17&amp;output=embed')

.section-heading
  h1 Research
section#research
  .col
    p
      | Arthrolife is committed to the future development of cellular therapies
      | for musculoskeletal conditions and is actively involved in research
      | within this medical field.
    p.research-contact For information contact <a href='mailto:research@arthrolife.com.au'>research@arthrolife.com.au</a>.
  .col.col-right
    p Our current research projects include -
    ul
      li
        | Evaluation of the effectiveness of Photo-activated Platelet-rich Plasma
        | in the treatment of knee osteoarthritis.
      li
        | Evaluation of the effectiveness of hyaluronic acid or platelet-rich
        | Plasma post surgical arthroscopic microfracture for knee cartilage
        | defects.

#footer-container
  footer
    p &copy; 2012 arthrolife.
    .logo &#x21;

