!!!
html(lang='en')
  head
    title arthrolife
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')

    script(src='/js/main.js')
    script(src='/js/ga.js')

  body!= body

