header, footer, section
  display block

.curved-border
  behavior url('/css/border-radius.htc')

.curved-border-hack
  border-radius 3px

#ask-button
  position relative
  display block
  zoom 1
  border 0em solid rgb(38,168,255)
  border-radius 6px
  width 8.125em
  margin-left 0.625em

#ask-form
  border 0px solid rgb(38,168,255)
  position relative
  display block
  zoom 1
  border-radius 6px
  margin-left -0.625em
  padding-left 0.625em
  p
    padding-left 0
  input[type="text"]
    width 275px
  textarea
    width 275px

#ask-submit
  border-radius 4px !important
  background-color rgb(38,168,255)
  position relative
  display block
  zoom 1

#ask
  right -19.375em

footer
  padding-bottom 0

