header, footer, section
  display block

.curved-border
  behavior url('/css/border-radius.htc')

.curved-border-hack
  border-radius 5px

#ask-button
  position relative
  display block
  zoom 1
  border 0px solid rgb(38,168,255)
  border-radius 6px
  width 130px
  margin-left 10px

#ask-form
  border 0px solid rgb(38,168,255)
  position relative
  display block
  zoom 1
  border-radius 6px
  margin-left -10px
  padding-left 10px
  p
    padding-left 0
  input[type="text"]
    width 278px
  textarea
    width 278px

#ask-submit
  background-color rgb(38,168,255)
  position relative
  display block
  zoom 1

#ask
  right -310px

section .col h2 a
  margin-top -21px

