header,
footer,
section
  display: block

.curved-border
  behavior: url("/css/border-radius.htc")

.curved-border-hack
  border-radius: 5px

#ask-button
  position: relative
  display: block
  zoom: 1
  border: 0px solid #26a8ff
  border-radius: 6px
  width: 130px
  margin-left: 10px

#ask-form
  border: 0px solid #26a8ff
  position: relative
  display: block
  zoom: 1
  border-radius: 6px
  margin-left: -10px
  padding-left: 10px

#ask-form p
  padding-left: 0

#ask-form input[type="text"]
  width: 278px

#ask-form textarea
  width: 278px

#ask-submit
  background-color: #26a8ff
  position: relative
  display: block
  zoom: 1
  border-radius 4px

#ask
  right: -310px

footer
  padding-bottom: 0

.more
  margin-top -10px

