html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,time,
mark,summary,audio,video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  display block
body
  line-height 1
ol,ul
  list-style none
blockquote,q
  quotes none
blockquote:before,blockquote:after,q:before,q:after
  content none
table
  border-collapse collapse
  border-spacing 0

@font-face
  font-family 'arthrolife'
  src url('../fonts/arthrolife.eot')
  src url('../fonts/arthrolife.eot?#iefix') format('embedded-opentype'),url('../fonts/arthrolife.woff') format('woff'),url('../fonts/arthrolife.ttf') format('truetype')
  font-weight normal
  font-style normal

html
  -webkit-font-smoothing antialiased
  overflow-x hidden

body
  cursor default

body, textarea
  font normal normal normal 16px 'Lucida Grande', 'Helvetica Neue', 'Geneva', sans-serif

.doc
  font-size 0.875em

#about-container
  padding 0.625em 0 0.625em 0
  background-color #ddd

#header-container
  background-color black
  width 100%
  height 15.625em
  border-bottom 0.063em solid #000

header
  width 50.000em
  height 100%
  margin 0 auto 0 auto
  background-image url('../img/knee-xray.jpg')
  background-repeat no-repeat
  -webkit-transition opacity 2s ease-in
  h1
    float right
    font-size 3em
    font-family 'Nunito'
    color #fff
  h2
    clear both
    float right
    padding 3.750em 2.917em 0 0
    font-size 1.5em
    color #fff
  .logo
    float left
    padding-top 0.025em
    color #fff
    font-family 'arthrolife'
    font-size 4em
  ul
    clear both
    float right
    margin-top -0.750em
    li
      float left
      padding-left 0.625em
      text-align right
      a
        text-decoration none
      a:link, a:visited
        color #999
      a:hover
        color #fff

#header-container.doc
  height 3.571em
  padding-top 0.4em
  border-bottom none
  background-color #ddd

header.doc
  width 57.143em
  height 100%
  background-image none
  .logo
    font-size 3.071em
  h1
    margin-top -0.125em

.section-heading
  padding 0.625em 0 0.625em 0
  background-color #f7f7f7 !important
  h1
    width 38.462em
    margin 0 auto 0 auto
    padding-left 2.404em
    color #444
    font-size 1.3em

#footer-container
  padding 0.625em 0 0.625em 0
  background-color #f7f7f7 !important

footer.doc
  width 50.000em
  padding-left 0

footer
  width 60.156em
  margin 0 auto 0 auto
  padding 0.391em 0 1.563em 2.344em
  font-size 0.8em
  color #9A9EA8
  p
    float left
  .logo
    color #bbb
    float right
    font-family 'arthrolife'
    font-size 1.3em

section.doc
  width 50.000em
  padding-left 0

section
  overflow-y auto
  overflow-x hidden
  width 48.125em
  margin 0 auto 0 auto
  padding 0.625em 0 0.625em 1.250em
  clear both
  h1
    font-size 1.3em
    margin-bottom 0.313em
    border-bottom 0.125em dotted #eee
  h2
    margin-left 0.938em
    font-size 1.15em
    border-bottom 0.063em solid #eee
  p
    float left
    margin 0.188em 0 0 0.938em
    font-size 1em
  p.doc
    margin 0.625em 0 0.625em 0.938em
  ul
    clear both
    padding 0.313em 0 0.625em 2.500em
    list-style disc
  li
    clear both
    margin-bottom 0.313em
  .col
    float left
    width 46%
    h2
      font-size 1em
      border-bottom 0.063em solid rgba(0,0,0,0.1)
      padding-bottom 0.125em
      margin-bottom 0.313em
    .more
      position relative
      font-size 0.8em
      float right
      margin-top -2.031em
    p
      float left
      font-size 0.8em
      margin 0.234em 0 0 1.172em
    a:link, a:visited
      color rgb(12,131,235)

  .col-right
    float right
    margin-right 0
  .col-right iframe
    margin-left 0.938em
    border-radius 0.375em
  #name
    margin-bottom 0.313em
  #name2, #address, #phone, #fax
    clear both
  #address
    margin-bottom 0.313em
  #contact
    padding-left 0.625em
  #address, #email, #phone
    .logo
      color #666
      float left
      clear both
      margin-top 0.188em
      padding-left 0.938em
      width 1.3em
      font-family 'arthrolife'
  #fax
    .logo
      color #333
      margin-top 0.234em
      font-size 0.8em
      float left
      clear both
      width 1.6em
      padding-left 1.172em

#research
  padding 0.625em 0 0 0.938em
  .col
    margin-left 0
  p
    margin-top 0
    font-size 0.8em
  .research-contact
    margin-top  0.625em
  ul
    clear both
    padding-top 0.313em
    list-style-type disc
  li
    font-size 0.8em
    margin-bottom 0.313em
  li:last-child
    margin-bottom 0
  a:link, a:visited
    color rgb(12,131,235)

#about
  width 50.000em
  margin 0 auto 0 auto
  padding 0.625em 0 0.625em 0
  clear both
  overflow auto
  p
    float left
    width 95%
    margin 0 0 0 0.35em
    font-size 1.3em
    color #888
  .logo
    float left
    margin-top 0.125em
    color #fff
    font-family 'arthrolife'
    font-size 1.1em

#ask
  z-index 99
  position fixed
  height 18.750em
  right -18.750em
  top 6.563em
  transition right 2s
  -moz-transition right 2s
  -webkit-transition right 2s

.ask-show
  right 0.625em !important

#ask-form
  border-radius 0 0.375em 0.375em 0.375em
  float left
  width 18.750em
  padding-top 0.188em
  background-color rgb(38,168,255)
  background-image linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%)
  background-image -o-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%)
  background-image -moz-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%)
  background-image -webkit-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%)
  background-image -ms-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%)
  p
    padding 0.625em
    color #fff
  input[type="text"]
    font-size 0.8em
    width 20.938em
    padding 0.391em
    margin-left 0.781em
    border 0.078em solid lightsteelblue
    border-radius 0.313em
  textarea
    width 20.938em
    padding 0.391em
    margin-left 0.781em
    border 0.078em solid lightsteelblue
    border-radius 0.250em
    border-radius 0.313em
    resize none
    font-size 0.8em
  #ask-submit
    float right
    border-radius 0.250em
    color #fff
    border 0.063em solid lightsteelblue
    margin 0.313em 0.625em 0.625em 0.625em
    padding 0.313em 0.500em 0.313em 0.500em

#ask-button
  padding 0.625em
  border-radius 0.375em 0 0 0.375em
  float left
  width 7.500em
  height 1.45em
  background-color rgb(38,168,255)
  .logo
    float left
    margin -0.063em 0 0 0.063em
    color #fff
    font-family 'arthrolife'
    font-size 1.3em
  p
    float left
    padding 0.188em 0 0 0.500em
    font-size 1em
    color #fff

