html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,time,
mark,summary,audio,video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  display block
body
  line-height 1
ol,ul
  list-style none
blockquote,q
  quotes none
blockquote:before,blockquote:after,q:before,q:after
  content none
table
  border-collapse collapse
  border-spacing 0

@font-face
  font-family 'arthrolife'
  src url('../fonts/arthrolife.eot')
  src url('../fonts/arthrolife.eot?#iefix') format('embedded-opentype'),url('../fonts/arthrolife.woff') format('woff'),url('../fonts/arthrolife.ttf') format('truetype')
  font-weight normal
  font-style normal

html
  -webkit-font-smoothing antialiased

body
  font normal normal normal 16px 'Lucida Grande','Helvetica Neue',sans-serif

  #container
    padding-top 10px
    background-color #eee

#header-container
  background-color black
  width 100%
  height 250px

header
  width 800px
  height 250px
  margin 0 auto 0 auto
  background-color #000
  background-image url('../img/knee-xray.png')
  background-size auto 250px
  background-repeat no-repeat

  h1
    font-size 3em
    float right
    font-family 'Nunito'
    color #fff

  h2
    padding-top 95px
    padding-right 40px
    clear both
    float right
    font-size 1.5em
    color #fff

  .logo
    float left
    color #fff
    font-family 'arthrolife'
    font-size 4em

  ul
    margin-top -5px
    clear both
    float right

    li
      color #999
      text-align right
      float left
      padding-left 10px

footer
  width 800px
  margin 0 auto 0 auto
  padding 5px 0 20px 0
  border-top 1px solid #ccc
  font-size 0.8em
  color #9A9EA8

  p
    float left

  .logo
    color #bbb
    float right
    font-family 'arthrolife'
    font-size 1.2em

section
  width 800px
  margin 0 auto 10px auto
  clear both
  h1
    padding-bottom 10px
    font-size 1.5em
  p
    float left
    margin-top 3px
    font-size 3em
  #col
    float left
    width 45%
    margin-right 20px
    padding-bottom 15px
    h2
      border-bottom 1px solid #EEE
      font-size 1em
      padding-bottom 2px
      margin-bottom 5px
    p
      padding-left 10px
      float left
      font-size 0.8em
    a
      float right
  #col-right
    float right
    width 45%
    padding-bottom 15px
    h2
      border-bottom 1px solid #EEE
      font-size 1em
      margin-bottom 5px
      padding-bottom 2px
    p
      padding-left 10px
      float left
      font-size 0.8em
    a
      float right
  #name1
    width 100%
    border-bottom 1px solid #EEE
    font-size 1em !important
    margin-bottom 5px
    padding-bottom 2px
  #name2, #address, #phone, #fax
    clear both
  #contact
    padding-left 10px

#conditions, #treatments, #doctors, #clinics, #ask, #research
  height 100px

#about
  height 90px
  p
    width 92%
    margin-left 0.5em
    float left
    font-size 1.3em
    color #888
  .logo
    float left
    margin-top 3px
    color #fff
    font-family 'arthrolife'
    font-size 1.3em

#ask
  padding 10px
  border-radius 6px 0 0 6px
  position absolute
  top 110px
  right 0
  width 142px
  height 1.45em
  background-image: linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%);
  background-image: -o-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%);
  background-image: -moz-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%);
  background-image: -webkit-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%);
  background-image: -ms-linear-gradient(bottom, rgb(12,131,235) 19%, rgb(38,168,255) 60%);

  .logo
    margin-left 1px
    margin-top -1px
    float left
    color #fff
    font-family 'arthrolife'
    font-size 1.3em
  p
    padding-left 8px
    padding-top 3px
    font-size 1em
    color #fff
    float left


