html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,time,
mark,summary,audio,video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  display block
body
  line-height 1
ol,ul
  list-style none
blockquote,q
  quotes none
blockquote:before,blockquote:after,q:before,q:after
  content none
table
  border-collapse collapse
  border-spacing 0

@font-face
  font-family 'arthrolife'
  src url('../fonts/arthrolife.eot')
  src url('../fonts/arthrolife.eot?#iefix') format('embedded-opentype'),url('../fonts/arthrolife.woff') format('woff'),url('../fonts/arthrolife.ttf') format('truetype')
  font-weight normal
  font-style normal

html
  -webkit-font-smoothing antialiased

body
  cursor default
  overflow-x hidden

body, textarea
  font normal normal normal 16px 'Lucida Grande', 'Helvetica Neue', 'Geneva', sans-serif

.doc
  font-size 0.875em

#about-container
  padding 0.625em 0 0.625em 0
  background-color #ddd

#header-container
  background-color black
  width 100%
  height 15.625em
  border-bottom 0.063em solid #000

header
  width 50.000em
  height 100%
  margin 0 auto 0 auto
  background-image url('../img/knee-xray.jpg')
  background-repeat no-repeat
  -webkit-transition opacity 2s ease-in
  h1
    margin-bottom 10px
    float right
    font-size 3em
    font-family 'Nunito'
    color #fff
  h2
    clear both
    float right
    padding 30px 2.917em 0 0
    font-size 1.5em
    color #fff
  .logo
    float left
    padding-top 0.025em
    color #fff
    font-family 'arthrolife'
    font-size 4em
  ul
    clear both
    float right
    margin-top -0.750em
    li
      float left
      padding-left 0.625em
      text-align right
      a
        text-decoration none
      a:link, a:visited
        color #999
      a:hover
        color #fff

#header-container.doc
  height 3.571em
  padding-top 0.4em
  border-bottom none
  background-color #000

header.doc
  width 57.143em
  height 100%
  background-image none
  .logo
    font-size 3.071em
  h1
    margin-top -0.125em

.section-heading
  padding 0.625em 0 0.625em 0
  background-color #f7f7f7 !important
  h1
    width 38.462em
    margin 0 auto 0 auto
    padding-left 2.404em
    color #444
    font-size 1.3em

#footer-container
  padding 0.625em 0 0.625em 0
  background-color #f7f7f7 !important

footer.doc
  width 50.000em
  padding-left 0

footer
  width 60.156em
  margin 0 auto 0 auto
  padding 0.391em 0 1.563em 2.344em
  font-size 0.8em
  color #9A9EA8
  p
    float left
  .logo
    color #bbb
    float right
    font-family 'arthrolife'
    font-size 1.3em

section.doc
  width 50.000em
  padding-left 0

section
  overflow-y auto
  overflow-x hidden
  width 48.125em
  margin 0 auto 0 auto
  padding 0.625em 0 0.625em 1.250em
  clear both
  h1
    font-size 1.3em
    margin-bottom 0.313em
    border-bottom 0.125em dotted #eee
  h2
    margin-left 0.938em
    font-size 1.15em
    border-bottom 0.063em solid #eee
  p
    float left
    margin 0.188em 0 0 0.938em
    font-size 1em
  p.doc
    margin 0.625em 0 0.625em 0.938em
  ul
    clear both
    padding 0.313em 0 0.625em 2.500em
    list-style disc
  li
    clear both
    margin-bottom 0.313em
  .col
    float left
    width 46%
    h2
      font-size 1em
      border-bottom 0.063em solid rgba(0,0,0,0.1)
      padding-bottom 0.125em
      margin-bottom 0.313em
    .more
      float left
      font-size 0.8em
      border-radius 0.250em
      color #fff
      margin 5px 0 0 1.172em
      padding 0.313em 0.500em 0.313em 0.500em
      border 1px solid #63B8FF
      box-shadow inset 1px 1px #C6E2FF, 1px 1px 1px #4F94CD
      background-color #5CACEE
      text-decoration none
    .more:link, .more:visited
      color white
    p
      font-size 0.8em
      margin 0.313em 0 0 1.172em
    a
      font-size 0.8em
      margin 0.234em 0 0 1.172em
      color rgb(12,131,235)
  .col-right
    float right
    margin-right 0
  .col-right iframe
    margin-left 0.938em
    border-radius 0.375em
  #name, #address, #contact, #phone, #email, #fax
    clear both
    overflow auto
    margin-bottom 0.313em
 #contact
    padding-left 0.625em
  #address, #email, #phone
    .logo
      color #666
      float left
      clear both
      margin-top 0.188em
      padding-left 0.938em
      width 1.3em
      font-family 'arthrolife'
  #fax
    .logo
      color #333
      margin-top 0.234em
      font-size 0.8em
      float left
      clear both
      width 1.6em
      padding-left 1.172em

#research
  padding 0.625em 0 0 0.938em
  .col
    margin-left 0
  p
    margin-top 0
    font-size 0.8em
  .research-contact
    margin-top  0.625em
  #research-contact
    clear both
    overflow auto
    margin-bottom 0.313em
  .logo
    color #666
    float left
    clear both
    margin-top 0.188em
    padding-left 0.938em
    width 1.3em
    font-family 'arthrolife'
  a
    float left
  ul
    clear both
    padding-top 0.313em
    list-style-type disc
  li
    font-size 0.8em
    margin-bottom 0.313em
  li:last-child
    margin-bottom 0

#about
  width 50.000em
  margin 0 auto 0 auto
  padding 0.625em 0 0.625em 0
  clear both
  overflow auto
  p
    float left
    width 95%
    margin 0 0 0 0.35em
    font-size 1.3em
    color #888
  .logo
    float left
    margin-top 0.125em
    color #fff
    font-family 'arthrolife'
    font-size 1.1em

#main-container
  position absolute
  top 0
  width 100%
  height 100%

#ask-container
  margin 0 auto 0 auto
  width 800px

.ask-form-show
  margin-top 10px !important

.input-container
  margin 0 11px 0 0

#ask-form
  -webkit-transition margin-top 2s ease-in
  -mozilla-transition margin-top 2s ease-in
  margin-top -400px
  margin-bottom 1px
  z-index 99
  position relative
  float right
  border-radius 0.375em
  width 18em
  padding 10px
  border 1px solid #63B8FF
  box-shadow inset 1px 1px #C6E2FF, 1px 1px 1px #4F94CD
  background-color #5CACEE
  text-shadow 1px 1px #4F94CD
  p
    padding-bottom 5px
    color #fff
  input[type="text"]
    display inline
    font-size 0.8em
    width 100%
    padding 5px
    margin-bottom 10px
    border 1px solid #63B8FF
    box-shadow 1px 1px #C6E2FF, inset 1px 1px 1px #4F94CD
    border-radius 0.313em
  textarea
    width 100%
    padding 5px
    border 1px solid #63B8FF
    box-shadow 1px 1px #C6E2FF, inset 1px 1px 1px #4F94CD
    border-radius 0.313em
    resize none
    font-size 0.8em
  #ask-submit
    float right
    border-radius 0.250em
    color #fff
    margin 5px 0 0 0.625em
    padding 0.313em 0.500em 0.313em 0.500em
    border 1px solid #63B8FF
    box-shadow inset 1px 1px #C6E2FF, 1px 1px 1px #4F94CD
    background-color #5CACEE

.separator
  width 1px
  height 100%
  box-shadow 1px 1px #C6E2FF, inset 1px 1px 1px #4F94CD
  float left
  margin 0 10px 0 10px

#ask-form-bottom
  z-index 99
  position absolute
  top -400px
  width 800px

#ask-button
  clear both
  float right
  padding 0 10px 0 5px
  margin-top 30px
  border 1px solid #63B8FF
  box-shadow inset 1px 1px #C6E2FF, 1px 1px 1px #4F94CD
  border-radius 0.375em
  height 1.55em
  background-color #5CACEE
  text-shadow 1px 1px #4F94CD
  .logo
    padding 5px 0 5px 5px
    float left
    color #fff
    font-family 'arthrolife'
    font-size 1em
  #help
    padding 6px 0 5px 5px
    font-size 0.9em
  p
    padding 5px
    float left
    padding-left 5px
    font-size 0.8em
    color #fff

